body {
    background-color: #242f3e;
}

.board {
    width: 400px;
    margin: auto;
    margin-top: 2px;
    margin-right: 2px;
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
    color: #36a8f1;
    text-align: center;
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: #36a8f1;
}
